@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  html {
    font: size 14px;
  }
  body {
    background: #e8edec;
    width: 100vw;
    height: 100vh;
    font-family: "Playfair Display", serif;
    user-select: none;
    overflow-x: hidden;
  }
  aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
  }
  aside .sidebarLink {
    display: flex;
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3rem;
    transition: all 300ms ease;
  }
}
