@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    background-color: #333333;
    color: white;
  }
}
