@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

.general {
  width: 1550px;
  height: auto;
  background-color: #2f3e46;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 30px;
  font-family: "Montserrat";
  color: rgba(230, 227, 227, 0.726);
  font-size: 20px;
}

input {
  font-size: 18px;
  font-family: "Montserrat";
  text-align: center;
  outline: none;
  color: #3c3f3f;
  width: 200px;
  border-radius: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  background-color: transparent;
  margin: 10px;
}

select {
  color: rgb(2, 2, 2);
}
.btn {
  width: 100px;
  height: 100px;
  background-color: transparent;
  color: #354f52;
  font-size: 18px;
  border-color: transparent;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}
