@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");

.general {
  background-color: #52796f;
  width: 320px;
  height: 800px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}
.info {
  text-align: center;
  color: rgb(161 161 170);
}

.head {
  color: rgb(161 161 170);
  font-size: 22px;
  font-weight: bold;
}
.extras {
  border-bottom: 3px rgb(13, 13, 14) solid;
  padding-bottom: 15px;
  font-size: 17px;
  color: rgb(161 161 170);
}

.puesto {
  color: rgb(161 161 170);
  font-size: 18px;
  text-align: center;
}

.img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: flex;
  position: relative;
  left: 80px;
  margin-top: 15px;
  border-bottom: 3px #84a98c solid;
}

.items {
  font-size: 17px;
  border-bottom: 3px rgb(12, 12, 15) solid;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(161 161 170);
}
